
  {{#link-to 'restaurant' restaurant.id}}
<div class="panel panel-default indexpanel" style="background-image: url('{{restaurant.image}}')">

    {{restaurant.name}}
    <h3>{{restaurant.type }}</h3>
</div>
  {{/link-to}}
