
{{#link-to 'restaurant' restaurant.id}}
    <div class="panel panel-default indexpanel" style="background-image: url('{{restaurant.image}}')">

        <h1>{{restaurant.name}}</h1>
        <h3>{{restaurant.type }}</h3>
      <p> reviews:({{review-count restaurant}}) </p>
    </div>
{{/link-to}}
