
{{#link-to 'restaurant' restaurant.id}}

    <div class="panel panel-default indexpanel" style="background-image: url('{{restaurant.image}}')">

        <h1>{{restaurant.name}}</h1>
        <h3>{{restaurant.type }}</h3>
        <h5> reviews({{review-count restaurant}}) </h5>

      
    </div>

{{/link-to}}
