@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
.jumbotron{
    background-color: #d4f3f7;
    text-decoration: none;
}

.jumbotron p{
  font-family: 'Rock Salt', cursive;
  color: white;
  text-decoration: none;
  font-size: 5.5em;
  text-align: center;
  text-shadow: 3px 3px 9px black;
    }
.jumbotron:hover {
  text-decoration: none;
}
.indexpanel {
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white ;
  text-overflow: inherit;
  text-shadow:  5px 5px 10px black;
}
.indexpanel:hover {
  text-decoration: none;
  box-shadow: 3px 3px 3px white;
}

.detail {
  height: 300px;
h1 {
  font-size: 4em;
}
}

.restaurantdetail {
height: 300px;
overflow: hidden;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: white;
text-align: center;
color: white ;
text-overflow: inherit;
text-shadow:  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.wellcart {
  border: solid black;
  min-height: 700px;


}

.restaurantdetail {
  margin-right: auto;
}

.container {
  // background-color: #4bdaed;
  background-image: url(http://mscoria.weebly.com/uploads/1/7/9/3/179325/7095632_orig.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.footer {
  text-align: center;
  background-color: #d4f3f7;
}

.map-display {
    height: 600px;
    width: 600px;
  }
