@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.indexpanel {
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 5em;
  color: white ;

  text-shadow:  5px 5px 10px black;
}
.indexpanel:hover {
  text-decoration: none;
  box-shadow: 3px 3px 3px white;
}

.detail {
  max-height: 200px;
  overflow: hidden;

}

.detailimage {

}
