<div class= "container">
  <header class= "jumbotron">
  {{#link-to 'index'}}
    <p>Reviews To-Go</p>
  {{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    <div class="panel panel-default footer">
      {{#link-to 'index'}}
      <p>Home</p>
      {{/link-to}}
    </div>
  </footer>
</div>
