<div class= "container">
  <header class= "jumbotron">
  {{#link-to 'index'}}
    <p>Reviews To-Go</p>
  {{/link-to}}
  </header>
  <div class="container">
    <div class="row">
      <div class='col-xs-8'>
        {{ outlet }}
      </div>
      <div class='col-xs-1'>
      </div>
      <div class='col-xs-3 favs'>
        <h1>Favorite Restaurants</h1>
        {{display-favorites}}
      </div>
    </div>
  </div>

  <hr>
  <footer>
    <div class="panel panel-default footer">
      {{#link-to 'index'}}
      <p>Home</p>
      {{/link-to}}
    </div>
  </footer>
</div>
