<div class= "container">

  <header class= "jumbotron">

    <p>Reviews To-Go</p>
    {{#link-to 'index'}}
    <div class="homelink">
      <h3>Home</h3>
        </div>
    {{/link-to}}

  </header>


    <div class="row">
      <div class='col-xs-8' style="margin-left: 20px;">
        {{ outlet }}
      </div>

      <div class='col-xs-3 favs'>
        <div class="well wellcart">
        <h1>Favorite Restaurants</h1>
        <hr>
        {{display-favorites}}
        </div>
      </div>
    </div>


  <hr>
  <footer>
    <div class="panel panel-default footer">
      {{#link-to 'index'}}
      <p>Home</p>
      {{/link-to}}
    </div>
  </footer>
</div>
